#output {
  margin: 10px auto;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  text-align:left;
}
#input {
  margin: 10px auto;
  text-align:left;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.hlist {
  display: block;
}
.hlist li {
  display: inline;
  padding-right: .7em;
  padding-left: .7em;
}
.center {
  text-align:center;
}
.option-lua { }
.option-python { }
.language-switch {
  display: inline-block;
}
.label {
  display: inline-block;
  margin-left: 8px;
  width: 60px;
  text-align: left;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  vertical-align: middle;
  transform: translateY(-2px);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Reduced height */
  width: 14px;  /* Reduced width */
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  transform: translateX(16px); /* Adjusted for new width */
}
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
