#output {
  text-align:left;
  margin: 10px auto;
  display: block;
  background-color: black;
  color: white;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  outline: none;
  overflow-y: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}
#input {
  text-align:left;
  display: block;
  position: relative;
  overflow-y: hidden;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.hlist {
  display: block;
}
.hlist li {
  display: inline;
  padding-right: .7em;
  padding-left: .7em;
}
.center {
  text-align:center;
}
